/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "base";

body {
    width: 810px;
    margin: 0 auto;
    div.container {
        padding: 0 20px 20px;
    }
}

header {
    nav{
        ul {
            li {
                a {
                    
                }
            }
        }
    }
}



html.light {
    body {
    background: #ececec;
    color: #111111;
    }
}

html.dark body {
    background: #2f2f2f;
    color: #c6c6c6;
}

//Using separate block to reuse the same statement for other elements too.
html.light {
    header {
        box-shadow: white 0 1px 0;
        border-bottom: 4px solid #bbb;
    }

} 